@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --background_dark: #262626;
    --background_light: #fefeff;
    --primary_text_light: #e5e5e5;
    --primary_text_dark: #31485c;
    --menu_hover_light: #ebeaeb;
    --menu_hover_dark: #2d2c2c;
    --hover_blue: #45badd;
    --hover_text: #d8d8d9c0;
    --table_primary: #d8d8d9ea;
    --table_secondary: #feffff;
}

* {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1em;
    list-style: none;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
    /*font-size: 10px;*/
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 100vh;
    background-color:var(--background_light) ;
}

header {
    background-color: var(--background_dark);
}

/** LOGO **/
.logo{
    font-size: 1.5em;
    margin: .5rem;
    font-weight: 500;
    color: var(--primary_text_light);
}

.logo a{
    color: var(--menu_hover_light);
}

.logo:hover {
    color: var(--hover_blue);
}

/** HEADER **/
nav {
    padding: 0 15%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_dark);
    color: var(--background_light);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    position: relative;
}

.menu > li, .menu > a {
    display: inline-block;
}

.menu li {
    position: relative;
}

nav li a {
    color: var(--menu_hover_light);
    padding: 1rem;
    display: block;
}

nav li a:hover {
    color: var(--hover_blue);
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 1rem;
    transition: background-color 0.22s ease, color 0.22s ease;
}

.menu a:hover {
    background-color: orange;
    color: #333;
}

.submenu {
    position: absolute;
    background-color: #333;
    width: 180px;
    left: 0;
    display: none;
    z-index: 100;
}

.submenu2 {
    position: absolute;
    background-color: #333;
    left: 100%;
    width: 180px;
    top: 0;
    display: none;
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li:hover > .submenu2 {
    display: block;
}

/** YOUTUBE **/
.youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/** HUMBERGER **/
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: var(--background_light);
    border-radius: 10px;
}

/** MAIN **/
main {
    padding: 30px 15% 0 15%;
    height: auto;
}

main h1, h2 {
    text-align: center;
    font-size: 22px;
}

main h2 {
    font-size: 16px;
}

main h3 {
    text-align: center;
    font-size: 12px;
}

main p {
    text-align: center;
}

main caption {
    padding-top: 20px;
}

main img {
    position: absolute;
    bottom: 100px;
    right: 30px;
    width: 50%;
    height: 30px;
}

main button {
    cursor: pointer;
    align-items: center;
    width: 30px;
    bottom: 0;
    /*display: flex;
    margin: 20px auto;*/
    height: 30px;
    justify-content: center;
    background: var(--hover_blue);
    border: 2px solid #333;
}

main button a {
    color: #000;
    font-weight: 600;
}

.article {
    padding: 30px 30% 0 15%;
    height: auto;
}

.article h1 {
    text-align: left;
    font-size: 25px;
}

.article h2 {
    margin: 35px 0px 10px;
    text-align: left;
    font-size: 18px;
}

.article h3 {
    text-align: left;
    font-size: 16px;
}

.article p {
    text-align: left;
    font-size: 14px;
    margin: 5px 0 0 20px;
    line-height: 20px;
}

.article p:nth-last-child() {
    text-align: left;
    font-size: 16px;
    margin: 5px 0 20px 20px;
}



/** TABLE **/
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

table, th, td {
    margin: 0px 0;
    border: .5px solid var(--background_dark);
    text-align: center;
    margin-bottom: 50px;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--table_secondary);
}

tr:nth-child(odd) {
    background-color: var(--table_primary);
}

main .cdkeys {
    position: static;
    padding: 20px 0;
    width: 160px;
    margin: 20px auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: var(--hover_blue);
}

.cdkeys a {
    color: #000;
}

main .buymeacoffee {
    position: static;
    padding: 20px 0;
    width: 300px;
    margin: 50px auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: var(--hover_blue);
}

main .buymeacoffee img {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** FOOTER **/
footer {
    position: sticky;
    top: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
}

footer p {
    padding: 0 15%;
}


button {
    cursor: pointer;
    background: var(--hover_blue);
    border: .5px solid #333;
    border-radius: 5px;
    line-height: normal;
}

/** TO-TOP BUTTON **/
.to-top {
    background: var(--hover_blue);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: var(--background_dark);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 5%;
    }
}

@media (max-width: 650px) {
    .logo {
        align-self: center;
        padding-left: 0;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10%;
    }

    menu {
        display: none;
        width: 100%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }

    .menu li a {
        padding: .5rem 1rem;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px 1rem;
        transition: background-color 0.22s ease, color 0.22s ease;
    }
    
    .menu a:hover {
        display: block;
        background-color: orange;
        color: #333;
    }

    menu.active {
        display: flex;
        padding-right: 0;
    }

    .submenu {
        position: relative;
        width: 100%;
        left: 0;
    }

    .submenu2 {
        position: relative;
        width: 100%;
        left: 0;
    }

    main {
        padding: 0 10%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    table, th, td {
        margin: 20px 0;
        border: .5px solid #333;
        text-align: center;
        font-size: 15px;
    }
    
    th, td {
        padding: 5px;
    }

    footer {
        font-size: 8px;
        font-weight: 500;
    }

    main .buymeacoffee {
        position: static;
        padding: 20px 0;
        width: 300px;
        margin: 50px auto;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 10px;
        background-color: var(--hover_blue);
    }
}
