@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:wght@400;700;900&display=swap');

body {
  background-image: url('/images/Cyprus.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group2 {
  display: flex;
  flex-direction: column;

}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
}

input[type="text"] {
  background-color: rgba(181, 190, 223, 0.5);
  font-weight: bold;
  width: 80%;
  padding: 10px;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid rgba(221, 221, 221, 0.63);
  background-color: rgba(244, 244, 244, 0.82);
  font-weight: bold;
}

th {
  background-color: rgba(244, 244, 244, 0.82);
}

.bmc {
  display: inline-block;
  margin-bottom: 20px;
}

.language-switcher {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.language-switcher img {
  width: 30px;
  height: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .calculator {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .language-switcher {
    justify-content: flex-end;
    justify-content: center;
  }

  input[type="text"] {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .calculator {
    grid-template-columns: repeat(4, 1fr);
  }

  .language-switcher {
    justify-content: flex-end;
  }

  input[type="text"] {
    font-size: 16px;
  }
}