<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VesselBridgeApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VesselBridgeApplication.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://localhost:3000</value>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>2yzhf.h.filess.io</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>61002</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>inspections_strangeday</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>inspections_strangeday</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>6e3ffeb5c219f8488f16fef036db9bac69b21e53</value>
            </setting>
        </VesselBridgeApplication.Properties.Settings>
    </userSettings>
</configuration>